body {

    background-image: url("http://spainaflame.com/assets/images/background(1).jpg");
    background-attachment: fixed;

    background-size: 100%;

    color:black;

    font-size: 2em;

    font-weight: bold;

}

li{margin-top:10px;}

h1 {
font-size: 3em;
font-weight: bold;
text-align: center;
color: black  ;
font-family: monospace;

}

strong {
  font-weight: bold;
}

span {
background-color: brown;
border-radius: 10px ;
border-width: 5px;
}
/*Mobile-friendly*/


    @media (max-width: 1024px) {

body {
      background-image: url("http://spainaflame.com/assets/images/background(1).jpg");
      background-attachment: fixed;

      background-size: 100%;

      color:black;

      font-size: 2.8em;

      font-weight: bold;

  }

  li{margin-top:10px;}

  h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: black  ;
font-family: monospace;
  }

  strong {
    font-weight: bold;
  }

  span {
  background-color: brown;
  border-radius: 10px ;
      border-width: 5px;
    }
      }
